svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
svg path:not(.sombra) {
  stroke: #2a2a2a;
  stroke-width: 0.5px;
  transition: transform 0.2s ease, filter 0.2s ease;
  filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.2));
}

svg path:not(.sombra):hover {
  transform: translateY(-1.2px);
  stroke: #2a2a2a;
  stroke-width: 1px;
  filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.7));
}
svg g:not(#layer6) path {
  stroke: #2a2a2a;
  stroke-width: 0.5px;
  transition: transform 0.2s ease, filter 0.2s ease;
  filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.2));
}

/* Hover aplicado al grupo completo */
svg g:not(#layer6):hover path {
  transform: translateY(-1.2px);
  stroke: #2a2a2a;
  stroke-width: 1px;
  filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.7));
}
.dice-wrapper {
  width: 50px;
  height: 50px;
  position: relative;
}
@keyframes pulse {
  0% {
    r: 2;
    opacity: 1;
  }
  50% {
    r: 6;
    opacity: 0.2;
  }
  100% {
    r: 2;
    opacity: 1;
  }
}

.pulsating {
  animation: pulse 1s infinite;
  fill: red !important;
  pointer-events: none;
}
@keyframes pulsate-black {
  0% {
    r: 2;
    opacity: 1;
  }
  50% {
    r: 6;
    opacity: 0.2;
  }
  100% {
    r: 2;
    opacity: 1;
  }
}

.pulsating-black {
  animation: pulsate-black 1s infinite;
  fill: black !important;
  pointer-events: none;
}
